extends /layouts/blue

block content
    section.banner
        .container
            .content-box
                +tag('SPECIFICATIONS', 'orange')
                h1(data-animation="reveal") For Roofing Experts &<br/> Design Teams
                p(data-animation="reveal" data-animation-delay="100") High-performance roofing and waterproofing solutions designed for long-lasting reliability.
                .btns(data-animation="reveal" data-animation-delay="200")
                    +btn('ROOFING PRODUCTS', '/')
                    +btn('TECHNICAL RESOURCES', '/')
                    +btn('TRAINING', '/')
                    +btn('CPD', '/')
        .bg
            img.image(src="/images/products-roofing/banner.png", alt="image")

    section.content-section.bg-blue
        figure.content-figure(data-animation="reveal")
            img.image(src="/images/products-roofing/image-1.png", alt="image")
        .content-box(data-animation="reveal" data-animation-delay="100")
            +tag('WHY US', 'white')
            h2 Ireland’s Leading Supplier of<br/> Roofing and Waterproofing Systems
            p Laydex Roofing supply the most comprehensive range of waterproofing systems in Ireland for Commercial, Industrial and Domestic projects. Representing many of the world’s foremost manufacturers of PVC, Single Ply, Bituminous, Liquid and metal roof materials, Laydex Roofing work with industry renowned architectural practices on flagship construction projects throughout Ireland on a daily basis.
            p In conjunction with industry leading manufacturers such as Index, Pluvitec, Renolit, RESITRIX®, Kemper, UNILIN and Tremco, we provide the project specifier and the Roofing contractor with high quality waterproofing solutions alongside extensive technical support ranging from on-site roofing surveys to project specific full build up specification generation.

    section.products
        .container
            .section-header
                .header-box(data-animation="reveal")
                    +tag('PRODUCTS', 'blue')
                    h2
                        | Ireland’s Leading Supplier of&nbsp;<br/>
                        span.blue Roofing and Waterproofing Systems
                    .btns-wrapper
                        button.link-outline Brands +
                        button.link-outline Categories +
                        .search-box
                            input(type="text", placeholder="SEARCH...")
                            button.search-btn.blue
                                img(src="/images/products/search.svg", alt="search")
                .header-box(data-animation="reveal" data-animation-delay="100")
                    img.cap-icon(src="/images/products-roofing/icon.svg", alt="icon")
            .products-grid
                each item, idx in ['Fortessa Door Handles & Accessories', 'Fibre Cement & Tile Backer Boards', 'Joint Compounds', 'Radon & Gas Protection', 'DPC & DPM', 'Breather Membranes']
                    .product-card(data-animation="reveal" data-animation-delay=`${idx*100}`)
                        figure.product-figure
                            img.image(src=`/images/products/p-${idx+1}.png`, alt="image")
                        .card-content
                            h3=item
                            +btn('SEE ALL', '/product-single.html', 'border')
            .btns(data-animation="reveal")
                +btn('SEE MORE', '/', 'border')

    section.resources.bg-blue
        .container
            .section-header
                .header-box(data-animation="reveal")
                    +tag('Technical Resources', 'white')
                    h2
                        | Specifications, Guides&nbsp;<br/> and Downloads

            .resources-grid
                .resource-card(data-animation="reveal" data-animation-delay="100")
                    h5 Technical Data Sheets
                    p Access a wide collection of over 430 datasheets with detailed technical characteristics and specifications for our products.
                    .btns
                        +btn('READ MORE', '/')
                .resource-card(data-animation="reveal" data-animation-delay="200")
                    h5 Brochures
                    p Explore our products and ranges through downloadable brochures.
                    .btns
                        +btn('READ MORE', '/')
                .resource-card(data-animation="reveal" data-animation-delay="300")
                    h5 Agrément Certificates
                    p Access our product standards and compliance documents.
                    .btns
                        +btn('READ MORE', '/')
                .resource-card(data-animation="reveal" data-animation-delay="400")
                    h5 Installation Instructions
                    p Check out the installation instructions section to view all instruction sheets, or narrow your search by choosing a specific product.
                    .btns
                        +btn('READ MORE', '/')

            .btns(data-animation="reveal")
                +btn('SEE ALL RESOURCES', '/')

    section.testimonial
        .testimonial-header
            .header-box(data-animation="reveal")
                +tag('TESTIMONIALS', 'blue')
            .header-box(data-animation="reveal" data-animation-delay="100")
                h1
                    | Trusted by Builders,<br/>
                    span.blue Architects and Contractors

        .embla.carousel-slider.centered(data-animation="reveal" data-animation-delay="200")
            .embla__container
                each i in [1,2]
                    .embla__slide.blue-slide
                        .slide-top
                            p.paragraph-xs
                                svg(width='70' height='14' viewBox='0 0 70 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='m6.55 0 1.471 4.526h4.76L8.93 7.324l1.47 4.526-3.85-2.798L2.7 11.85l1.47-4.526L.32 4.526h4.76zM35 0l1.47 4.526h4.76l-3.85 2.798 1.47 4.526L35 9.052l-3.85 2.798 1.47-4.526-3.85-2.798h4.759zM20.777 0l1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76zm28.445 0 1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76zm14.227 0 1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76z' fill='currentColor')
                                | 4.7/5 Google Reviews
                            p.paragraph-xs October 13, 2024
                        .slide-header
                            h5 Niall Mc Donagh
                            h6
                                strong Niall McDonagh Roofing Services
                        .content-box
                            p “Laydex have been a trusted partner of ours for years. Their product range is excellent, and the technical support they provide makes a real difference on projects. Deliveries are always on time, communication is clear, and the team are a pleasure to deal with.
                            p We would happily recommend Laydex to anyone in the industry.”

                    .embla__slide.blue-slide
                        .slide-top
                            p.paragraph-xs
                                svg(width='70' height='14' viewBox='0 0 70 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='m6.55 0 1.471 4.526h4.76L8.93 7.324l1.47 4.526-3.85-2.798L2.7 11.85l1.47-4.526L.32 4.526h4.76zM35 0l1.47 4.526h4.76l-3.85 2.798 1.47 4.526L35 9.052l-3.85 2.798 1.47-4.526-3.85-2.798h4.759zM20.777 0l1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76zm28.445 0 1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76zm14.227 0 1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76z' fill='currentColor')
                                | 4.7/5 Google Reviews
                            p.paragraph-xs October 13, 2024
                        .slide-header
                            h5 Brendan Walsh
                            h6
                                strong Director of Max roofing systems
                        .content-box
                            p “I have used RESITRIX now for four years on small and large contracts. It’s a fantasy material to work with. Easy to apply and most of all no time consuming metal on upstands or change of angle, no flame and fast installation. I would highly recommend it and beats other single Ply’s hands down.” Max Roofing

                    .embla__slide.blue-slide
                        .slide-top
                            p.paragraph-xs
                                svg(width='70' height='14' viewBox='0 0 70 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='m6.55 0 1.471 4.526h4.76L8.93 7.324l1.47 4.526-3.85-2.798L2.7 11.85l1.47-4.526L.32 4.526h4.76zM35 0l1.47 4.526h4.76l-3.85 2.798 1.47 4.526L35 9.052l-3.85 2.798 1.47-4.526-3.85-2.798h4.759zM20.777 0l1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76zm28.445 0 1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76zm14.227 0 1.47 4.526h4.76l-3.85 2.798 1.47 4.526-3.85-2.798-3.85 2.798 1.47-4.526-3.85-2.798h4.76z' fill='currentColor')
                                | 4.7/5 Google Reviews
                            p.paragraph-xs October 13, 2024
                        .slide-header
                            h5 PJ Costello
                            h6
                                strong Sterton Enterprises
                        .content-box
                            p “The results were class. I can’t believe it in all my years in roofing!”

    section.brands
            .section-header
                .header-box(data-animation="reveal")
                    +tag('OUR BRANDS', 'blue')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h2
                        | Trusted Global Names,&nbsp;<br/>
                        span.blue Delivered Locally
                    p Laydex proudly represents some of the world’s leading brands in construction materials, bringing innovation, reliability and performance to every project across Ireland. From advanced roofing and flooring systems to specialised fire protection and building solutions, our partners are at the forefront of quality and sustainability.
                    p Each brand we represent shares our commitment to excellence, ensuring contractors, architects and specifiers have access to products that meet the highest industry standards. Together with our manufacturing partners, we deliver proven solutions backed by technical expertise, certification and dedicated support at every stage.

            +tag('BUILDING MATERIAL BRANDS', 'blue')
            .embla.autoscroll-slider.active(data-animation="reveal" data-animation-delay="200")
                .embla__container
                    each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                        .embla__slide
                            img.logo-image(src=`/images/brands/${i}.svg`, alt="brand logo")

    section.certification.bg-dark
        .container
            .header
                .header-box(data-animation="reveal")
                    +tag('CERTIFICATIONS', 'blue')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h3
                        | Our Commitment to&nbsp;
                        span.blue Industry Standards

            .certification-grid
                each image in [1,2,3,4,5]
                    figure.certification-figure(data-animation="reveal" data-animation-delay=`${image*100}`)
                        img(src=`/images/certifications/${image}.svg`, alt="Icon")

    +type-section
