extends /layouts/default

block content
    section.banner
        .container
            .content-box
                h1(data-animation="reveal") Building Product Supply
                p(data-animation="reveal" data-animation-delay="100") Delivering a trusted product range with reliable stock levels and a service you can depend on.
                .btns(data-animation="reveal" data-animation-delay="200")
                    +btn('BROCHURES', '/')
                    +btn('TECHNICAL RESOURCES', '/')
                    +btn('FIND YOUR LOCAL REP', '/')
        .bg
            img.image(src="/images/products/banner.png", alt="image")

    section.content-section.bg-orange
        figure.content-figure(data-animation="reveal")
            img.image(src="/images/products/image-1.png", alt="image")
        .content-box(data-animation="reveal" data-animation-delay="100")
            +tag('Supporting Your Sales')
            h2 In-Store Support Services
            .list
                .list-item
                    h4 Product Demos
                    p.paragraph-sm Hands-on in-branch demos that boost engagement and sales.
                .list-item
                    h4 In-Store Training
                    p.paragraph-sm Expert staff training and site support to strengthen your team’s product knowledge.
                .list-item
                    h4 Marketing Support
                    p.paragraph-sm Effective POS and multi-channel campaigns to grow your in-store and online visibility.
            +btn('SEE MORE', '/', 'no-border')

    section.products
        .container
            .section-header
                .header-box(data-animation="reveal")
                    +tag('PRODUCTS', 'orange')
                    h2
                        | A Complete Range of&nbsp;<br/>
                        span.orange High Performance Building Products
                    .btns-wrapper
                        button.link-outline Brands +
                        button.link-outline Categories +
                        .search-box
                            input(type="text", placeholder="SEARCH...")
                            button.search-btn
                                img(src="/images/products/search.svg", alt="search")
                .header-box(data-animation="reveal" data-animation-delay="100")
                    img.cap-icon(src="/images/products/cap.svg", alt="icon")
            .products-grid
                each item, idx in ['Fortessa Door Handles & Accessories', 'Fibre Cement & Tile Backer Boards', 'Joint Compounds', 'Radon & Gas Protection', 'DPC & DPM', 'Breather Membranes']
                    .product-card(data-animation="reveal" data-animation-delay=`${idx*100}`)
                        figure.product-figure
                            img.image(src=`/images/products/p-${idx+1}.png`, alt="image")
                        .card-content
                            h3=item
                            +btn('SEE ALL', '/product-single.html', 'border')
            .btns
                +btn('SEE MORE', '/', 'border')

    section.content-section.bg-orange
        figure.content-figure(data-animation="reveal")
            img.image(src="/images/products/image-2.png", alt="image")
        .content-box(data-animation="reveal" data-animation-delay="100")
            +tag('WHY US')
            h2 Premium Building Products for Every Project
            p We deliver innovative, cost-effective solutions with no compromise on quality, supporting contractors and project specifiers alike. Our divisions specialise in Flat Roofing, Commercial Flooring and Fire Stopping, offering specified solutions backed by technical expertise and design assistance. Choosing Laydex means access to over 20 years of experience, unrivalled technical support, and a commitment to environmentally sustainable, high-quality products. All our offerings are certified to meet rigorous standards such as CE, NSAI and BBA, ensuring they are fit for purpose and compliant with building regulations.<br/> From premium products to personalised project support, we aim to provide an exceptional service to every customer, helping your projects succeed from start to finish.

    section.resources.bg-dark
        .container
            .section-header
                .header-box(data-animation="reveal")
                    +tag('Technical Resources', 'orange')
                    h2
                        | Specifications, Guides&nbsp;<br/>
                        span.orange and Downloads

            .resources-grid
                .resource-card(data-animation="reveal" data-animation-delay="100")
                    h5 Technical Data Sheets
                    p Access a wide collection of over 430 datasheets with detailed technical characteristics and specifications for our products.
                    .btns
                        +btn('READ MORE', '/')
                .resource-card(data-animation="reveal" data-animation-delay="200")
                    h5 Brochures
                    p Explore our products and ranges through downloadable brochures.
                    .btns
                        +btn('READ MORE', '/')
                .resource-card(data-animation="reveal" data-animation-delay="300")
                    h5 Agrément Certificates
                    p Access our product standards and compliance documents.
                    .btns
                        +btn('READ MORE', '/')
                .resource-card(data-animation="reveal" data-animation-delay="400")
                    h5 Installation Instructions
                    p Check out the installation instructions section to view all instruction sheets, or narrow your search by choosing a specific product.
                    .btns
                        +btn('READ MORE', '/')

            .btns(data-animation="reveal")
                +btn('SEE ALL RESOURCES', '/')

    section.local
        .container
            .content-box
                +tag('LOCAL SUPPORT', 'white')
                h2(data-animation="reveal") Find Your Nearest Stockist<br/> or A Rep
                p(data-animation="reveal" data-animation-delay="100") Whether you're looking for a trusted Laydex stockist or need expert product advice, our nationwide network is here to help. Find your nearest supplier or connect with your local sales representative for technical support, specifications, and guidance tailored to your project.
                .btns
                    +btn('FIND A STOCKIST', '/')
                    +btn('FIND A REP', '/')
        .bg
            img.image(src="/images/products/image-4.png", alt="image")

    section.certification.bg-dark
        .container
            .header
                .header-box(data-animation="reveal")
                    +tag('CERTIFICATIONS', 'orange')
                .header-box(data-animation="reveal" data-animation-delay="100")
                    h3
                        | Our Commitment to&nbsp;
                        span.orange Industry Standards

            .certification-grid
                each image in [1,2,3,4,5]
                    figure.certification-figure(data-animation="reveal" data-animation-delay=`${image*100}`)
                        img(src=`/images/certifications/${image}.svg`, alt="Icon")

    +contact-section
    +type-section
