mixin tab-section
    section.brands
            .section-header
                .header-box(data-animation="reveal")
                    .btns-wrapper
                        button.link-outline.active(data-tab="1") BUILDING PRODUCTS
                        button.link-outline(data-tab="2") SPECIALIST PRODUCTS
                .header-box(data-animation="reveal" data-animation-delay="100")
                    +tag('OUR BRANDS', 'orange')
                    h2
                        | Trusted Global Names,&nbsp;<br/>
                        span.orange Delivered Locally
                    p Laydex proudly represents some of the world’s leading brands in construction materials, bringing innovation, reliability and performance to every project across Ireland. From advanced roofing and flooring systems to specialised fire protection and building solutions, our partners are at the forefront of quality and sustainability.
                    p Each brand we represent shares our commitment to excellence, ensuring contractors, architects and specifiers have access to products that meet the highest industry standards. Together with our manufacturing partners, we deliver proven solutions backed by technical expertise, certification and dedicated support at every stage.

            +tag('BUILDING MATERIAL BRANDS', 'orange')
            .embla.autoscroll-slider.active(data-tab-content="1")
                .embla__container
                    each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                        .embla__slide
                            img.logo-image(src=`/images/brands/${i}.svg`, alt="brand logo")

            +tag('specialist products BRANDS', 'orange')
            .embla.autoscroll-slider(data-tab-content="2")
                .embla__container
                    each i in [1,2,3,4,5,6,7,8,9,10]
                        .embla__slide
                            img.logo-image(src=`/images/brands/${i}.png`, alt="brand logo")

mixin type-section
    section.types.bg-dark
        .container
            .content-box(data-animation="reveal")
                h2 Build with Confidence.<br/> Innovative Solutions for Ireland.
                .btns
                    +btn('CONTACT US', '/')
            .type-list
                each item, idx in ['BUILDING PRODUCTS', 'ROOFING', 'Radon & Gas Protection', 'FLOORING', 'Passive Fire Protection']
                    .type-item(data-animation="reveal" data-animation-delay=`${idx*100}`)
                        p.paragraph-sm=item
                        .icon-box
                            img.icon(src=`/images/home/t-${idx+1}.svg`, alt="image")

mixin contact-section
    section.contact
        .container
            .content-box(data-animation="reveal")
                +tag('CONTACT')
                h1 Got a Question?<br/> Reach Out to Us
                .box
                    p.paragraph-sm Call us now
                    a.link(href="/") IE: 01 6426600
                    a.link(href="/") NI: 028 9038 2223
                .btns
                    +btn('REQUEST A CALL BACK', '/')
                    +btn('FIND A STOCKIST', '/')
            .form-wrapper(data-animation="reveal" data-animation-delay="100")
                form
                    input(type="text", placeholder="Full name")
                    input(type="tel", placeholder="Phone number")
                    input(type="email", placeholder="Email")
                    input(type="text", placeholder="Location")
                    select
                        option(value="" disabled selected) Which product are you interested in?
                        option(value="product") Product enquiry
                        option(value="technical") Technical support
                        option(value="general") General enquiry
                    select
                        option(value="" disabled selected) Which division interests you?
                        option(value="product") Product enquiry
                        option(value="technical") Technical support
                        option(value="general") General enquiry
                    select
                        option(value="" disabled selected) How would you like us to reach you?
                        option(value="product") Product enquiry
                        option(value="technical") Technical support
                        option(value="general") General enquiry
                    textarea(placeholder="Your message", rows="1")
                    .checklists
                        label
                            input(type="checkbox")
                            | I understand and accept the Privacy Policy *
                        label
                            input(type="checkbox")
                            | Yes, please keep me updated on Laydex news & special offers
                    button.btn
                        span.btn-box SUBMIT
                        .icon-box
                            svg(width="10", height="11", viewBox="0 0 10 11", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="m5.754.5 3.628 5-3.628 5H.98l3.413-4.706.212-.294-.212-.294L.98.5z", stroke="currentColor")



        .bg
            img.image(src="/images/products/image-3.png", alt="image")
